@charset "utf-8";
/* CSS Document */

html{transform: rotate(-90deg);transform-origin: left top;
        width: 100vh; 
        overflow-x: auto; 
        overflow-y: hidden; 
        position: absolute; 
        top: 100%; 
        left: 0; 

 }